{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="">
  </head>
</head>
<body>
    <div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Главная
                    </span>
                </a>
              
            </li>

        <ul class="logout">
            <li>
               <a href="{% url 'about' %}">
                     <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        О нас
                    </span>
                </a>
            </li>  
        </ul>

        <ul class="logout">
            <li>
               <a href="{% url 'news_home' %}">
                    <i class="fa-duotone fa-file"></i>
                    <span class="nav-text">
                        Новости
                    </span>
                </a>
            </li>  
        </ul>
    </nav>    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>